<!DOCTYPE html>
<html ng-app="myApp"> <!-- To have DOM know it's an angular app -->
<head>
	<title>Angular Demo</title>
	<script type="text/javascript" src="angular.js"></script>
</head>
<body> <!-- Creating and assigning a value to it -->
<div ng-controller="MainCtrl">
	<h1>Angular Demo</h1>
	<p ng-if="hourOfDay < 12">Good morning</p> <!-- Conditional statement  -->
	<p ng-if="hourOfDay > 17">Good evening</p> <!-- Conditional statement  -->
	<p>The hour of the day is: <span ng-bind="hourOfDay"></span></p> <!-- ng-bind allows you to add value of a variable into the markup -->
	<p>The hour of the day is: {{ hourOfDay }}</p> <!-- Shorthand for ng-bind-->
</div>
<script type="text/javascript">
	var module = angular.module("myApp", []);
	module.controller("MainCtrl", Main);

	function Main($scope){
		$scope.hourOfDay = 18;
		console.log("Main called");
	}

</script>

</body>
</html>